// Shared Animations

@keyframes ark-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes ark-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ark-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes ark-slide-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ark-slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ark-pulse {
    50% {
        opacity: 0.5;
    }
}

@keyframes ark-ping {

    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}